.kostas{
	margin-bottom:10%;
	color :white !important;
	background-color:#5C585D !important;
	font-family:Times New Roman;
	margin-left:0;


}


.maria{
	font-size:25;
}

.pambos{
	font-size:20;

}
 h5{font-size:25;}

 span.navbar-brand.mb-0.h1 {
 	color: white;
 }